/* nav {
  text-align: right;
  position: fixed;
  width: 100vw;
} */
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  vertical-align: middle;
}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}

/* SACAR */
/* div {
  border: 1px solid red;
} */

.naranja {
  background: #660066;
  color: #ffffff;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  text-align: right;
}

.logo {
  font-family: "Oswald";
  font-weight: Bold;
  font-size: 20pt;
  padding: 0rem 0rem 0rem 5rem;
  /* text-align: center;
  color: #ffffff; */
}

.hero-section {
  text-align: center;
  /* background-image: url("../img/bg_hero.png"); */
  background-image: url("../img/yo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  /* padding: 20rem 0rem 0rem 0rem; */
  background-size: 100%;
  padding-top: 45%;
}

.hero-titulo {
  font-family: "Oswald";
  font-weight: lighter;
  font-size: 40pt;
  text-align: center;
  color: #ffffff;
}

.linea-hero {
  width: 50%;
  border-color: #ffffff;
}

.hero-subtitulo {
  font-family: "Oswald";
  font-weight: Bold;
  font-size: 40pt;
  text-align: center;
  color: #ffffff;
}

.excon-subtitulo {
  font-family: "Oswald";
  font-weight: Bold;
  font-size: 30pt;
  text-align: center;
}

.tra-subtitulo {
  font-family: "Oswald";
  font-weight: Bold;
  font-size: 30pt;
  text-align: center;
  color: #ffffff;
}

#desc-titulo {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15pt;
  text-align: center;
}

.texto-empresa {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.texto-year {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}

#General {
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 3rem;
  padding-left: 9.375rem;
  padding-right: 9.375rem;
}

#desc-detalle-1 {
  text-align: justify;
  /* border: 1px solid red; */
  margin-top: 3rem;
  margin-bottom: 3.125rem;
  font-family: "Open Sans";
  font-weight: 200;
  /* padding-left: 9.375rem; */
}

#desc-detalle-2 {
  text-align: justify;
  /* border: 1px solid red; */
  margin-top: 3rem;
  margin-bottom: 3.125rem;
  font-family: "Open Sans";
  font-weight: 200;
  /* padding-right: 8.375rem; */
}

#contenedor-expe {
  text-align: center;
  padding: 0rem 3rem 3rem 5rem;
}

.img-exp {
  /* display: inline-block */
  width: 100px;
  display: block;
  margin: auto;
  /* border: 1px solid red; */
}

h2 {
  /* border: 1px solid red; */
  font-family: "Open Sans";
  text-align: center;
}

#trabajos {
  background-color: #660066;
}

#row-ultimos-trabajos-1 {
  padding: 4rem 5rem 0rem;
}

#row-ultimos-trabajos-2 {
  padding: 2rem 5rem 0rem;
}

.pie {
  background: #660066;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .contendor-footer
{
  display: table-cell;
  vertical-align: middle;
} */

.pie a {
  padding: 0rem 0.5rem 0rem;
  color: #ffffff;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.pie-nombre {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  text-decoration: underline;
}

@media only screen and (max-width: 320px) {
  .hero-section {
    text-align: center;
    background-image: url("../img/bg_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 17rem 0rem 0rem 0rem;
    height: 430px;
    /* background-size: 100% */
  }

  .yosoy {
    padding: 1rem 0rem;
  }

  #contenedor {
    display: none;
  }

  #contenedor-expe {
    text-align: center;
    padding: 1rem 0rem;
  }

  #row-ultimos-trabajos-1 {
    padding: 1rem 1rem 0rem;
  }
  #row-ultimos-trabajos-2 {
    padding: 0rem 1rem 0rem;
  }

  .margen-pie {
    margin: 2rem;
  }
}
